*.suo
*.pdb
*.exe
*.log
*.bin
*.apk
/traffic_Data/
/ts_Data/
/_project/
/metadata/
/Library/
/Temp/
/Assets/VSCode*
/obj/
/out
/.vscode/
*.sln
*.userprefs
*.csproj
/.idea
*.iml
/concretemixer.keystore
